<% @images.each do |image|%>
    <div class="photo m" style="width:306px;height:306px">
        <input id="i_<%=image.guid%>" type="checkbox" style="display:none" value="guid=<%= image.guid %>&mime=<%= image.mime %>" name="images[]" />
        <a href="#" data-photo="i_<%=image.guid%>"><img src="<%=image.url%>" onload="this.style.opacity=1;" style="opacity: 1;<%=center_padding(image.width, image.height) %>"/></a>
        <div class="meta">
          Title: <%=image.title%>
        </div>
    </div><!--div.photo.m-->
<% end%>