<% if @notes.blank? %>
  <p>There is no image in this notebook.</p>
<% else%>  
	<%= form_tag ({:action => "download"}), {:id => "download"} %>

  <% @notes.each do |note|%>
    <% note.resources.each do |resource|%>
	<div class="m">
      <input type="hidden" name="shard" value="<%= session[:access_token].params['edam_shard'] %>"></input>
      <p class="note_title">title: <%=note.title%> </p>
      <input type="checkbox" value="guid=<%= resource.guid %>&mime=<%= resource.mime %>" name="images[]" ></input>
      <img src="https://sandbox.evernote.com/shard/<%= session[:access_token].params['edam_shard'] %>/res/<%= resource.guid %>" width="306" height="306">   
	</div>
    <% end%>
  <% end%>
	<div class="actions" style="display:block">
	    <p><input type="submit" value="Download" name="checked"></p>
	    <p><input id="select_all" type="button" value="Select all" name="all"></p>
	    <p><input id="deselect_all" type="button" value="Deselect all" name="all"></p>
	</div>
  </form>
<% end %>

<%= link_to "Back to Top", "/"%>