<% if @images.blank? %>
  <p>There is no image in this notebook.</p>
	<%= link_to "Back to Top", "/"%>
<% else%>                                                     
	<%= form_tag ({:action => "action"}), {:id => "download"} %>
	<div id="content">
		<%= render "show"%> 
	</div>

<div id="paginate" class="actions simpleblock ">
	<% if @has_next %>
		<a id="loadmore" href="http://localhost:3000/show?guid=<%=params[:guid] %>&page=<%= @next_page %>">Load more.. </a>
	<% end %>
	<input id="select_all" type="button" value="Select all" name="all" />
  <input id="deselect_all" type="button" value="Deselect all" name="all" />

	<input id="operation_input" type="hidden" name="operation" value="" />
	<a href="#" id="a_download"><img src="/assets/download.png" />Download</a>
	<a href="#" id="a_sendmail"><img src="/assets/mail.png" />Send Mail</a>
	<a href="/"><img src="/assets/back.png" />Back</a>
</div>

</form>
<% end %>